<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Yaswanth Asapu/Evaluation270223"><classes><class name="testingFiles.Magneto_Test"><methods><include name="Task1"/></methods></class></classes></test></suite>